.machetico{
    height: 250px;
    width: 650px;
}
.bg-color-machetico{
    background-color: rgb(255, 224, 81);
}
.bg-rappi{
    background-color: rgb(255, 121, 99);
}
.rappi{
    height: 312px;
    width: 312px;
}