.machetico{
    height: 150px;
    width: 375px;
}
.bg-color-machetico{
    background-color: rgb(255, 224, 81);
}
.bg-rappi{
    background-color: rgb(255, 121, 99);
}
.rappi{
    height: 312px;
    width: 312px;
}
.fondonal{
    background-color: rgb(0, 140, 75);
}
.imgatl{
    height: 360px;
    width: 289px;
}
.logo-machete{
    height: 50px;
    width: 50px;
}
.logo-nal{
    height: 50px;
    width: 35px;
}
.logo-epm{
    height: 50px;
    width: 90px;
}
.logo-home{
    height: 50px;
    width: 50px;
    border-radius: 40%;
}